    body {
  background-color: #999999;
}
.wrapper {
  border: 20px solid #fff;
  width: 560px;
  height: 560px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
}
.wrapper {
  font-size: 150%;
  background-color: #3AE39F;
  color: #000;
  text-align: center;
}
.wrapper button {
  height: 70px;
  width: 70px;
  opacity: 0;
  background: #000;
  border: #000;
}
.wrapper button:hover{
  opacity: .20;
}
button:active{
  background: #fff;
  border: #fff;
}
.box:nth-child(-2n+8), 
.box:nth-child(8) ~ div:nth-child(-2n+15), 
.box:nth-child(16) ~ div:nth-child(-2n+24), 
.box:nth-child(24) ~ div:nth-child(-2n+31), 
.box:nth-child(32) ~ div:nth-child(-2n+40), 
.box:nth-child(40) ~ div:nth-child(-2n+47), 
.box:nth-child(48) ~ div:nth-child(-2n+56), 
.box:nth-child(56) ~ div:nth-child(-2n+63){
  background-color: #333333;
  color: #fff;
}
